button {
    &[data-variant="primary"] {
        background-color: #000;
        color: #fff;
    }

    &[data-variant="secondary"] {
        background-color: #fff;
        color: #000;
    }

    &[data-variant="tertiary"] {
        background-color: #000;
        color: #fff;
    }
}