@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .container {
    width: 100%;

    padding: 2rem 4rem;
  }

  @media screen and (min-width: 768px) {
    .container {
      max-width: 100%;
    }
  }

  .flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flexbox.vertical {
    flex-direction: column;
  }

  .no-padding {
    padding: 0 !important;
  }
}
